<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>UPDATE CHARACTER</title>
  </head>
  <body>
    <p>YOU'VE REACHED THE UPDATE CHARACTER PAGE!</p>
  </body>
</html>
