
/* Style for the tables to display database info */
table, th, td{
 border: 1px solid black;
}
table button{
	width: 100%;
}

/************************************************
Styles for the navigation bar
*************************************************/
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #b0e0e6;
}
li{
	float: left;
}

li a{
	display: block;
	color: black;
	text-align: center;
	padding: 1em;
	text-decoration: none;
}

li a:hover{
	background-color:white;
}
/**********************************************/


/**********************************************
Styles for forms

/**********************************************/
form {
	width: 50%;
}